<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652594593092-noe4ub4jkkakqno2aepv6o8023v2s0b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652594593092-noe4ub4jkkakqno2aepv6o8023v2s0b7</string>
	<key>API_KEY</key>
	<string>AIzaSyBzmdgCVaMKYwUId2K6miU2qYqItsu-8po</string>
	<key>GCM_SENDER_ID</key>
	<string>652594593092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>capstone-e92a6</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-e92a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652594593092:ios:c54c767621eb33da9a2b11</string>
</dict>
</plist>